# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore
#TODO remove this at the end as the keystore should be hidden or retrieved from a secure place
#for the moment we duplicate the keystore debug to use this release name but the users should set the correct file instead.
!myuploadkey.keystore




# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots
# scan temporary files
*/fastlane/test_output

# Fastlane builds
*/builds/*

#TODO remove the line below commented at the end -  after going to release and after setting correct secrets values to avoid pushing to git as are sensitive info (the following file is useful to run fsatlane lane jobs with fake secrets env loaded (github action simulations locally) - clean secrets var info as this is useful to run locally as dev mode)
#*/fastlane/.env.secretsfordevs
#exclude the following fake file for dev only remove this line later
!/fastlane/fakeapp/myReactNativeCICCApp.ipa

# Bundle artifact
*.jsbundle

# CocoaPods
/ios/Pods/
/ios/Pods/*
ios/Pods/*
